page-intro {
    .slide{
        img{
            padding: 0% 10%;
        }
        .info{
            padding: 0% 10%;
            font-size: 10pt;
            text-align: center;
            color: #555
        }
    }
    .btn-pular{
            float: right;
            padding: 5%;
            font-size: 14pt;
        }

}
